<include file="Public:header" />
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>
    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
            <span class="menu-text"></span>
        </a>
{{$ueditorinit}}

        <include file="Public:left" />
        <div class="main-content">            
            <include file="Public:nav" />
            <div class="page-content">
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                            <form  name="form" class="form-horizontal" role="form" action="" method="post">
                            <input type="hidden" name="id" value="{{$classify['id']}}" />
                                <div class="form-group">
                                    <label class="col-sm-2 control-label no-padding-right" for="form-field-1">类型<span style="color:#f00;">*</span></label>
                                    <div class="col-sm-9">
                                    <select  class="col-sm-12" name="type" onchange="getclass('{{:U('classify/ajaxclass')}}',$(this).val(),'types')">
                                        <option <php>if($classify['type'] == 'product')echo 'selected';</php> value="product">商品分类</option>
                                        <option <php>if($classify['type'] == 'article')echo 'selected';</php> value="article">文章分类</option>
                                        <option <php>if($classify['type'] == 'cover')echo 'selected';</php> value="cover">封面</option>
                                    </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label no-padding-right" for="form-field-1">父分类<span style="color:#f00;">*</span></label>
                                    <div class="col-sm-9">
                                    <select  class="col-sm-12" name="pid" id="types" onchange="changesort($(this).val())">
                                        <option value="0">顶级分类</option>
                                        <foreach name="classifys" item="vv">
                                            <option  <php>if($classify['pid'] == $vv['id'])echo 'selected';</php> value="{{$vv.id}}">{{$vv.name}}</option>
                                        </foreach>
                                    </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 外部链接 <span style="color:#f00;">*</span></label>
                                        <div class="col-sm-9">
                                                <input type="text" name="external" value="{{$classify['external']}}" class="col-sm-12" placeholder="填写外部链接后 将直接跳转到该链接 格式：http://www.linfei.cc" />
                                        </div>
                                </div>
                                <div class="form-group">
                                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 分类名称 <span style="color:#f00;">*</span></label>
                                        <div class="col-sm-9">
                                                <input type="text" name="name" value="{{$classify['name']}}" class="col-sm-12" id="content" />
                                        </div>
                                </div>
                                 <div class="form-group">
                                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 手机分类名称 <span style="color:#f00;">*</span></label>
                                        <div class="col-sm-9">
                                                <input type="text" name="m_name" value="{{$classify['m_name']}}" class="col-sm-12" />
                                        </div>
                                </div>
                                
                                <div class="form-group">
                                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 分类排序 <span style="color:#f00;">*</span></label>

                                        <div class="col-sm-9">
                                                <input type="text" name="sorting" value="{{$classify['sorting']}}" class="col-sm-12" />
                                        </div>
                                </div>
                                
                                <div class="form-group">
                                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 分类标题 <span style="color:#f00;">*</span></label>

                                        <div class="col-sm-9">
                                                <input type="text" name="title" value="{{$classify['title']}}" class="col-sm-12" />
                                        </div>
                                </div>
                                
                                <div class="form-group">
                                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 分类关键词 <span style="color:#f00;">*</span></label>

                                        <div class="col-sm-9">
                                                <input type="text" name="keywords" value="{{$classify['keywords']}}" class="col-sm-12" />
                                        </div>
                                </div>
                                
                                <div class="form-group">
                                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 分类描述 <span style="color:#f00;">*</span></label>

                                        <div class="col-sm-9">
                                                <input type="text" name="description" value="{{$classify['description']}}" class="col-sm-12" />
                                        </div>
                                </div>
                                <php>if(!$classify['id']){</php>
                                <div class="form-group">
                                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 前端url命名 <span style="color:#f00;">*</span></label>

                                        <div class="col-sm-9">
                                                <input type="text" name="url_name" value="{{$classify['url_name']}}" style="width:200px;" class="col-sm-12" id="show" />
                                                &nbsp;&nbsp;<button type="button" style="height:28px;" onclick="pinyin()" >拼音</button>
                                        </div>
                                </div>
                                <php>}</php>

                                <div class="form-group">
                                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 列表模板名称 <span style="color:#f00;">*</span></label>

                                        <div class="col-sm-9">
                                                <input type="text" name="tpl" id="tpl" value="{{$classify['tpl']}}.html" style="width:200px;" class="col-sm-12"/>
                                                &nbsp;&nbsp;<button type="button" style="height:28px;" onclick="SelectTemplets('tpl')" >浏览</button>
                                        </div>
                                </div>

                                <div class="form-group">
                                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 文章模板名称 <span style="color:#f00;">*</span></label>

                                        <div class="col-sm-9">
                                                <input type="text" name="tpl2" id="tpl2" value="{{$classify['tpl2']}}.html" style="width:200px;" class="col-sm-12"/>
                                                &nbsp;&nbsp;<button type="button" style="height:28px;" onclick="SelectTemplets('tpl2')" >浏览</button>
                                        </div>
                                </div>

                                <div class="form-group">
                                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 分类 开启/关闭<span style="color:#f00;">*</span></label>
                                        <div class="col-sm-9">
                                        <label>
                                            <input name="status" class="ace ace-switch ace-switch-7" type="checkbox" <php>if(!$classify['status']){</php><php>}else{</php>checked='checked'<php>}</php> value='1'>
                                            <span class="lbl"></span>
                                        </label>
                                        </div>
                                </div>
                                <div class="form-group">
                                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 顶部导航 开启/关闭<span style="color:#f00;">*</span></label>
                                        <div class="col-sm-9">
                                        <label>
                                            <input name="top" class="ace ace-switch ace-switch-7" type="checkbox" <php>if(!$classify['top']){</php><php>}else{</php>checked='checked'<php>}</php> value='1'>
                                            <span class="lbl"></span>
                                        </label>
                                        </div>
                                </div>
                                <div class="form-group">
                                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 底部导航 开启/关闭<span style="color:#f00;">*</span></label>
                                        <div class="col-sm-9">
                                        <label>
                                            <input name="bottom" class="ace ace-switch ace-switch-7" type="checkbox" <php>if(!$classify['bottom']){</php><php>}else{</php>checked='checked'<php>}</php> value='1'>
                                            <span class="lbl"></span>
                                        </label>
                                        </div>
                                </div>


                                <div class="form-group">
                                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 分类类容 <span style="color:#f00;">*</span></label>

                                        <div class="col-sm-9">
                                                <script id="class" type="text" name="text" style="width:100%;height:500px;">{{$classify['text']}}</script>
                                        </div>
                                </div>
                                <div class="clearfix form-actions">
                                    <div class="col-md-offset-4 col-md-4">
                                        <button class="btn btn-info btn-block" type="submit">
                                            <i class="icon-ok bigger-110"></i>
                                            确认
                                        </button>
                                    </div>
                                </div>
                            </form>                        
                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div><!-- /.main-content -->
    </div><!-- /.main-container-inner -->
    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="icon-double-angle-up icon-only bigger-110"></i>
    </a>
</div><!-- /.main-container -->
<include file="Public:footer" />
<script src="/Public/js/jquery-1.7.2.min"></script>
<script src="/Public/pinyin/jQuery.Hz2Py-min.js">//转换中文为拼音</script>
<script>

//转换中文为拼音
function pinyin()
{
        var str = $('#content').toPinyin();//转换成拼音
        str = str.toLocaleLowerCase();//转换成小写
        $('#show').val(Trim(str,'g'));//去除空格
}


  //去除字符中间空格
  function Trim(str,is_global)
        {
            var result;
            result = str.replace(/(^\s+)|(\s+$)/g,"");
            if(is_global.toLowerCase()=="g")
            {
                result = result.replace(/\s/g,"");
             }
            return result;
}


function SelectTemplets(tpl)
{
    // 
   var posLeft = 200;
   var posTop = 300;
   window.open("{{:U('SelectTemplets')}}?path=./Templates/Pc&tplname="+tpl, "poptempWin", "scrollbars=yes,resizable=yes,statebar=no,width=600,height=400,left="+posLeft+", top="+posTop);
}


</script>