<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<ul>

</ul>

<div>


    <adv name="主页第一个广告" type="1" id="1" item="v" key="k" width="100px" height="100px;">

    	<a class="{{$k}}" href="{{$v[url]}}" <?php if($v['blank']){echo 'target="_blank"';}?>><img src="{{:advimg($v[id],500,500)}}" alt="{{$v['title']}}" /></a>

    </adv>

    <adv name="主页第一个广告" type="2" id="2" item="v" key="k" width="100px" height="100px;">
    {{$v['text']}}
    </adv>
    


    <adv name="主页第六个广告" type="2" id="100" item="v" key="k" width="100px" height="100px">
    {{$v['text']}}
    </adv>


</div>
</body>
</html>