<include file="common_admin:header" />
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>

    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
            <span class="menu-text"></span>
        </a>
        <include file="common_admin:left" />
        <div class="main-content">            
            <include file="common_admin:nav" />
            <div class="page-content">
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->                        
                        <form class="form-horizontal" role="form" action="{:U('admin/addgoods')}" method="post" enctype="multipart/form-data">
                            {:setParam(array('sid'=>$sid,'op'=>'doaddgoods','goods_id'=>$goods_id))}
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="item_url"> 商品URL<span style="color:#f00;">*</span> </label>

                                <div class="col-sm-6">
                                   <input type="text" id="item_url" name="item_url" value="{$goods['item_url']}" placeholder="请填写淘宝/天猫商品URL" class="col-xs-12" />
                                </div>
                                <button class="col-sm-1 btn btn-info btn-sm" style="height:31px;" type="button" id="crawlbtn" onclick="gocrawl()">采集商品信息</button>
                                <div class="col-sm-2" style="line-height:31px;" id="returnmsg"><span style="color:#f00;">请填写商品完整地址</span></div>
                            </div>
                            <div class="form-group" >
                                <label class="col-sm-2 control-label no-padding-right" for="form-field-1">商品图片<span style="color:#f00;">*</span></label>
                                <div class="col-sm-9" id="thumb">
                                <input class="col-sm-12" type="file" name="pic_url" />    
                                <input type="hidden" name="pic_url_str" value="{$goods['pic_url']}" />
                                </div>
                            </div>
                            <php>if($goods){</php>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="form-field-1">商品图片</label>
                                <div class="col-sm-9">
                                <img src='{$goods[pic_url]}' style='width:280px;height:280px;' />
                                </div>
                            </div>
                            <php>}</php>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="form-field-1">商品名称<span style="color:#f00;">*</span></label>
                                <div class="col-sm-9"><input class="col-sm-12" type="text" name="title" value="{$goods['title']}"></div>
                            </div>
                            
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right">选择商品栏目</label>
                                <div class="col-sm-9">
                                    <select class="col-sm-12" name="sort_id">
                                        <option value="0">选择商品栏目</option>
                                        {$goodsSort}
                                    </select>
                                    <script type='text/javascript'>
                                        $("select[name='sort_id'] option[value='<php>echo $goods[sort_id]</php>']").attr('selected','selected');
                                    </script>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right">同时发布到专题</label>
                                <div class="col-sm-9">
                                    <select class="col-sm-5" name="tid" onchange="get_topic_sort($(this).val())">
                                        <option value="0">选择专题</option>
                                        <volist name='topic' id='data'>
                                        <option value="{$data['tid']}">{$data['topic_name']}</option>
                                        </volist>                                        
                                    </select>
                                    <select class="col-sm-5" name="topic_sort" style="margin-left:20px;">
                                        <php>if($goods['tid']){</php>
                                        <volist name='topic_sorts' id='tsorts'>
                                        <option value="{$tsorts['sort_id']}">{$tsorts['sort_name']}</option>
                                        </volist>
                                        <php>}else{</php>
                                        <option value="0">选择专题栏目</option>
                                        <php>}</php>                                   
                                    </select>
                                    <script type='text/javascript'> 
                                        $("select[name='tid'] option[value='<php>echo $goods[tid]</php>']").attr('selected','selected');
										$("select[name='topic_sort'] option[value='<php>echo $goods[topic_sort]</php>']").attr('selected','selected');
                                    </script>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right">宝贝推广链接<span style="color:#f00;">*</span></label>
                                <div class="col-sm-9"><input class="col-sm-12" type="text" name="click_url" value="{$goods['click_url']}"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right">商品类型<span style="color:#f00;">*</span></label>	
                                <div class="col-sm-9">
                                    <select class="col-sm-12" name="goods_type">
                                        <option value="taobao">淘宝</option>  
                                        <option value="tmall">天猫</option>                                                            
                                    </select>
                                    <script type='text/javascript'>
                                        $("select[name='goods_type'] option[value='<php>echo $goods[goods_type]</php>']").attr('selected','selected');
                                    </script>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right">seo标题</label>	
                                <div class="col-sm-9"><input class="col-sm-12" type="text" name="seo_title" value="{$goods['seo_title']}"></div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right">seo关键字</label>	
                                <div class="col-sm-9"><input class="col-sm-12" type="text" name="seo_keywords" value="{$goods['seo_keywords']}"></div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right">seo描述</label>	
                                <div class="col-sm-9"><input class="col-sm-12" type="text" name="seo_description" value="{$goods['seo_description']}"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right">商品价格<span style="color:#f00;">*</span></label>	
                                <div class="col-sm-9"><input class="col-sm-12" type="text" name="price" value="{$goods['price']}"></div>
                            </div>
                            
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right">折扣价格</label>	
                                <div class="col-sm-9"><input class="col-sm-12" type="text" name="discount_price" value="{$goods['discount_price']}"></div>
                            </div> 
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right">领券地址</label>	
                                <div class="col-sm-9"><input class="col-sm-12" type="text" name="quan" value="{$goods['quan']}"></div>
                            </div> 

                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right">审核状态<span style="color:#f00;">*</span></label>
                                <div class="col-sm-9">
                                    <select class="col-sm-12" name="state">
                                        <option selected="selected" value="1">审核通过</option>
                                        <option value="0">待审核</option>
                                    </select>
                                    <script type='text/javascript'>
                                        $("select[name='state'] option[value='<php>echo $goods[state]</php>']").attr('selected','selected');
                                    </script>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right">商品详情 </label>
                                <link rel="stylesheet" href="public/kindeditor/themes/default/default.css" />
                                <link rel="stylesheet" href="public/kindeditor/plugins/code/prettify.css" />
                                <script charset="utf-8" src="public/kindeditor/kindeditor.js"></script>
                                <script charset="utf-8" src="public/kindeditor/lang/zh_CN.js"></script>
                                <script charset="utf-8" src="public/kindeditor/plugins/code/prettify.js"></script>
                                <script>
								var editor1 = null;
									KindEditor.ready(function (K) {
										editor1 = K.create('textarea[name="item_body"]', {
											cssPath: 'public/kindeditor/plugins/code/prettify.css',
											uploadJson: 'public/kindeditor/php/upload_json.php',
											fileManagerJson: 'public/kindeditor/php/file_manager_json.php',
											allowFileManager: true,
											afterCreate: function () {
												var self = this;
												K.ctrl(document, 13, function () {
													self.sync();
													K('form[name=example]')[0].submit();
												});
												K.ctrl(self.edit.doc, 13, function () {
													self.sync();
													K('form[name=example]')[0].submit();
												});
											}
										});
										prettyPrint();
									});
                                </script>
                                <div class="col-sm-9">
                                    <textarea class="col-sm-12" id="item_body" name="item_body" style="height:500px;visibility:hidden;">{:stripslashes($goods['item_body'])}</textarea>
                                </div>
                            </div>
                            <div class="clearfix form-actions">
                                <div class="col-md-offset-4 col-md-4">
                                    <button class="btn btn-info btn-block" type="submit">
                                        <i class="icon-ok bigger-110"></i>
                                        确认
                                    </button>
                                </div>
                            </div>
                        </form>
                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div><!-- /.main-content -->
    </div><!-- /.main-container-inner -->
    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="icon-double-angle-up icon-only bigger-110"></i>
    </a>
</div><!-- /.main-container -->
<script>
    $(function () {
        $('input[type="file"]').ace_file_input({
            no_file: '未选择...',
            btn_choose: '选择',
            btn_change: '修改',
            droppable: false,
            onchange: null,
            thumbnail: false //| true | large
                    //whitelist:'gif|png|jpg|jpeg'
                    //blacklist:'exe|php'
                    //onchange:''
                    //
        });
    });

</script>
<script>
function result(json){
	$("input[name=title]").val(json.title);
	$("#thumb").append("<img src='"+json.pic_url+"' width='280' />");
	$("input[name=pic_url_str]").val(json.pic_url);
	$("input[name=seo_title]").val(json.title);
	$("input[name=seo_keywords]").val(json.seo_keywords);
	$("input[name=seo_description]").val(json.seo_description);
	$("input[name=price]").val(json.price);
	$("input[name=discount_price]").val(json.discount_price);
	$("option[value="+json.goods_type+"]").attr('selected','selected');
	editor1.html(json.item_body);
	
	$("#crawlbtn").html("采集完成").addClass('disabled');	
}

function gocrawl(){
	var url = $("#item_url").val();
	if(!url){
		alert('请填写商品链接');
		return false;
	}
	$("#crawlbtn").html("采集中...").addClass('disabled');
	$.getScript("http://api.xiaocaocms.com/index.php?m=home&c=index&a=ajaxCrawlGoods&url="+encodeURIComponent(url));
}
function get_topic_sort(obj){
	$.get('/index.php?m=admin&a=get_topic_sort&tid='+obj,function(json){
		$('select[name=topic_sort] option').remove();
		if(json['state']>0){
			html = "";
			d = json.data;
			for(i=0;i<d.length;i++){
				obj = d[i];
				html +="<option value="+obj.sort_id+">"+obj.sort_name+"</option>";
			}
			$('select[name=topic_sort]').append(html);
		}else{
			$('select[name=topic_sort]').append("<option>请在专题里添加栏目</option>");
		}
	});
}
</script>
<include file="common_admin:footer" />