<include file="common_admin:header" />
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>

    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
            <span class="menu-text"></span>
        </a>
        <include file="common_admin:left" />
        <div class="main-content">
            <include file="common_admin:nav" />
            <div class="page-content">
                <div class="row">
                    <div class="col-xs-12">
                        <form action="index.php" method="get" >
                            {:setParam(array('m'=>'admin',a=>'commentlist'))}
                            <div class="row">
                                    <div class='col-sm-2'>
                                        <select class="form-control" name='score'>
                                            <option value="0">不限</option>
                                            <option value="1">一星</option>
                                            <option value="2">二星</option>
                                            <option value="3">三星</option>
                                            <option value="4">四星</option>
                                            <option value="5">五星</option>
                                        </select>
                                        <script>
                                            $("select[name='score'] option[value='{$score}']").attr('selected', 'selected');
                                        </script>
                                    </div>
                                    <div class='col-sm-2'>
                                        <input class="form-control" placeholder="商品标题" type="text" name='title' value='{$title}'  />
                                    </div>
                                    <div class='col-sm-2'>
                                        <input class="form-control" placeholder="添加人" type="text" name='uname' value='{$uname}'  />
                                    </div>
                                    <div class='col-sm-2'>                                        
                                            <button type="submit" class="btn btn-purple btn-sm">
                                                搜索
                                                <i class="icon-search icon-on-right bigger-110"></i>
                                            </button>
                                    </div>
                                            
                            </div>
                            <div class="space-6"></div>
                        </form>
                    </div>          


                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->                        
                        <form action="{:U('admin/goodsList',array('op'=>'order'))}" method="post">                            
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr class="color428bca">                                                                                        
                                            <th>商品名称</th>
                                            <th>评论人</th>
                                            <th>评分</th>
                                            <th>内容</th>
                                            <th>添加时间</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <php>if($commentList){</php>
                                    <volist name="commentList" id="data">
                                        <tr class="pointer even" title="">
                                            <td><a target="_blank" href="{:U('goods/detail',array('id'=>$data['goods_id']))}">{$data['title']}</a></td>
                                            <td>{$data['uname']}</td>
                                            <td>{$data['score']}</td>
                                            <td>{$data['content']}</td>
                                            <td>{:date('Y-m-d H:i:s',$data['ctime'])}</td>
                                            <td>
                                            <a id="" onclick="return ajHref(this);" href="{:U('admin/commentlist',array('op'=>'state','cid'=>$data['cid']))}" title="">{$data['state']?'<font color="green">显示</font>':'<font color="red">审核</font>'}</a>
                                             | 
                                                <a id="" onclick="if(confirm('确定删除')){return ajHref(this);};return false;" href="{:U('admin/commentList',array('op'=>'del','cid'=>$data['cid']))}" title="删除">删除</a>
                                            </td>
                                        </tr>
                                    </volist>
                                    </tbody>
                                </table>
                                <div class="row">
                                    <php>if($page){</php>
                                    <div class="col-sm-8 ">
                                        <ul class='pagination pull-right'>{$page}</ul>
                                    </div> 
                                </div>


                                <php>}</php>  

                                <php>}else{</php>
                                <tr><td colspan="7" class="empty"><span class="empty"><i>没有找到数据.</i></span></td></tr>
                                </tbody>
                                </table>

                                <php>}</php>
                            </div>
                        </form>
                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div>
        </div><!-- /.main-content -->
    </div><!-- /.main-container-inner -->

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="icon-double-angle-up icon-only bigger-110"></i>
    </a>
    <style>
        .orange{background:orange;}
    </style>
<script type="text/javascript">
function state(state){
    if(confirm(state==1?'确定批量上架':'确定批量下架')){
        var ids = '';
        $('tbody tr').each(function(){
            var data_id = $(this).find('td:first[style!=""]').attr('data_id')
            if(data_id!=undefined){
                ids +=data_id+':';
            }
        })
        if(!submit) return false;
        showmsg('正在提交');
        submit = false;
        $.get("index.php?m=admin&a=goodslist&op=state&state="+state+"&goods_id="+ids,function(data){
            submit = true;
            if(data.state==1) window.location.reload();//setTimeout(function(){window.location.reload();},500);
            showmsg(data.msg);
        },'json');
        return false;
    }    
}
function deletes(){
    if(confirm('确定删除')){
        var ids = '';
        $('tbody tr').each(function(){
            var data_id = $(this).find('td:first[style!=""]').attr('data_id')
            if(data_id!=undefined){
                ids +=data_id+':';
            }
        })
        if(!submit) return false;
        showmsg('正在提交');
        submit = false;
        $.get("index.php?m=admin&a=goodslist&op=del&goods_id="+ids,function(data){
            submit = true;
            if(data.state==1) window.location.reload();//setTimeout(function(){window.location.reload();},500);
            showmsg(data.msg);
        },'json');
        return false;
    }    
}    
    $(function(){
        $("tbody tr").click(function(){
            var obj = $(this);
            if(obj.find('td:first').attr('style')==''){
                obj.find('td').attr('style','background:orange');
            }else{
                obj.find('td').attr('style','');
            }
        });
    });
    (function(win,doc){
        var s = doc.createElement("script"), h = doc.getElementsByTagName("head")[0];
        if (!win.alimamatk_show) {
            s.charset = "utf8";
            s.async = true;
            s.src = "http://a.alimama.cn/tkapi.js";
            h.insertBefore(s, h.firstChild);
        };
        var o = {
            pid: "mm_43412205_9948295_33168978",/*推广单元ID，用于区分不同的推广渠道*/
            appkey: "23189880",/*通过TOP平台申请的appkey，设置后引导成交会关联appkey*/
            unid: "",/*自定义统计字段*/
            type: "click" /* click 组件的入口标志 （使用click组件必设）*/
        };
        win.alimamatk_onload = win.alimamatk_onload || [];
        win.alimamatk_onload.push(o);
    })(window,document);
</script>
</div>
<include file="common_admin:footer" />