<include file="common_admin:header" />
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
        ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>

    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
            <span class="menu-text"></span>
        </a>
        <include file="common_admin:left" />
        <div class="main-content">
            <include file="common_admin:nav" />
            <div class="page-content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="tabbable">
                            <ul class="nav nav-tabs" id="myTab">
                                <li <php>echo $type==0?'class="active"':''</php>>
                                <a data-toggle="tab" href="javascript:;" onclick="location.href = '{:U('admin/jfloglist',array('type'=>0))}'">
                                    积分日志
                                </a>
                                </li>

                                <li <php>echo $type>0?'class="active"':''</php>>
                                <a data-toggle="tab" href="javascript:;" onclick="location.href = '{:U('admin/jfloglist',array('type'=>1))}'">
                                    积分商城
                                </a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div id="home" class="tab-pane in active">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <form action="index.php" method="get" >                    
                                                {:setParam(array('m'=>'admin',a=>'jfloglist','type'=>$type))}
                                                <div class="row">
                                                    <div class='col-sm-2'>
                                                        <input class="form-control" placeholder='会员名称' type="text" name='uname' value='{$uname}'  />
                                                    </div>
                                                    <div class='col-sm-2'>                                        
                                                        <button type="submit" class="btn btn-purple btn-sm">
                                                            搜索
                                                            <i class="icon-search icon-on-right bigger-110"></i>
                                                        </button>
                                                    </div>

                                                </div>
                                                <div class="space-6"></div>
                                            </form>
                                        </div>
                                    </div>

                                    <div class="table-responsive">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered table-hover">
                                                <thead>
                                                    <tr class="color428bca">
                                                    <php>if($type>0){</php>
                                                        <th>用户名</th>
                                                        <th>积分</th>
                                                        <th>兑换商品</th>
                                                        <th>真实姓名</th>
                                                        <th>电话</th>
                                                        <th>收货地址</th>
                                                        <th>添加时间</th>
                                                        <th>操作</th>
                                                    <php>}else{</php>
                                                        <th>用户名</th>
                                                        <th>积分</th>
                                                        <th>备注</th>
                                                        <th>添加时间</th>                                                        
                                                    <php>}</php>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                <php>if($list){</php>
                                                <volist name="list" id="data">                                                    
                                                    <tr class="pointer even" title="">
                                                        <php>if($type>0){</php>
                                                        <php>$data['beizhu'] = unserialize($data['beizhu']);</php>
                                                        <td>{$data['uname']}</td>
                                                        <php>if($data['jf_goods_jf']>0){</php>
                                                            <td><font color='green'>+{$data['jf_goods_jf']}</font></td>
                                                        <php>}else{</php>
                                                            <td><font color='red'>{$data['jf_goods_jf']}</font></td>
                                                        <php>}</php>
                                                        <td>{$data['beizhu']['jf_goods_name']}</td>
                                                        <td>{$data['beizhu']['realname']}</td>
                                                        <td>{$data['beizhu']['mobile']}</td>
                                                        <td>{$data['beizhu']['address']}</td>
                                                        <td>{:date('Y-m-d H:i:s',$data['ctime'])}</td>
                                                        <td>
                                                            <a id="" href="{:U('admin/jfloglist',array('op'=>'state','jf_log_id'=>$data['jf_log_id']))}" title="">{$data['state']?'<font color="green">已发货</font>':'<font color="red">未发货</font>'}</a>
                                                        </td>
                                                        <php>}else{</php>                                                        
                                                        <td>{$data['uname']}</td>
                                                        <php>if($data['jf_goods_jf']>0){</php>
                                                            <td><font color='green'>+{$data['jf_goods_jf']}</font></td>
                                                        <php>}else{</php>
                                                            <td><font color='red'>{$data['jf_goods_jf']}</font></td>
                                                        <php>}</php>
                                                        <td>{$data['beizhu']}</td>
                                                        <td>{:date('Y-m-d H:i:s',$data['ctime'])}</td>
                                                        <php>}</php>
                                                    </tr>
                                                </volist>
                                                </tbody>
                                            </table>
                                            <div class="row">
                                                <php>if($page){</php>
                                                <div class="col-sm-10 ">
                                                    <ul class='pagination pull-right'>{$page}</ul>
                                                </div> 
                                            </div>


                                            <php>}</php>  

                                            <php>}else{</php>
                                            <tr><td colspan="{$type>0?8:4}" class="empty"><span class="empty"><i>没有找到数据.</i></span></td></tr>
                                            </tbody>
                                            </table>

                                            <php>}</php>
                                        </div>                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->                        

                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div>
        </div><!-- /.main-content -->
    </div><!-- /.main-container-inner -->

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="icon-double-angle-up icon-only bigger-110"></i>
    </a>
</div>
<include file="common_admin:footer" />