<include file="common_admin:header" />
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>

    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
            <span class="menu-text"></span>
        </a>
        <include file="common_admin:left" />
        <div class="main-content">
            <include file="common_admin:nav" />
            <div class="page-content">
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->                        
                        <form class="form-horizontal" role="form" action="{:U('admin/settingurl')}" method="post" enctype="multipart/form-data">
                            {:setParam(array('op'=>'do'))}
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right">URL模式<span style="color:#f00;">*</span></label>
                                <div class="col-sm-9">
                                    <select class="col-sm-12" name="url_mod">
                                        <option value="0">普通模式</option>
                                        <option value="1">PATHINFO模式</option>
                                        <option value="2">REWRITE模式</option>
                                    </select>
                                    <script type='text/javascript'>
                                        $("select[name='url_mod'] option[value='"+"<php>echo $url_mod['URL_MODEL']</php>"+"']").attr('selected','selected');
                                    </script>
                                </div>
                            </div>                                                        

                            <div class="clearfix form-actions">
                                <div class="col-md-offset-4 col-md-4">
                                    <button class="btn btn-info btn-block" type="submit">
                                        <i class="icon-ok bigger-110"></i>
                                        确认
                                    </button>
                                </div>
                            </div>
                        </form>
                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div><!-- /.main-content -->
    </div><!-- /.main-container-inner -->
    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="icon-double-angle-up icon-only bigger-110"></i>
    </a>
</div><!-- /.main-container -->
<script>
    $(function () {
        $('input[type="file"]').ace_file_input({
            no_file: 'No File ...',
            btn_choose: 'Choose',
            btn_change: 'Change',
            droppable: false,
            onchange: null,
            thumbnail: false //| true | large
                    //whitelist:'gif|png|jpg|jpeg'
                    //blacklist:'exe|php'
                    //onchange:''
                    //
        });
    });

</script>
<include file="common_admin:footer" />