.view-first:hover .mask{display:none;}
.rsArrowLeft .rsArrowIcn{background: url(../../img.mimujiang.com/v1.0/icon_prev.pngg") 50% 50% no-repeat;}
.rsArrowRight .rsArrowIcn{background: url(../../img.mimujiang.com/v1.0/icon_next.pngg") 50% 50% no-repeat;}
.rsNavItem span{background:url(../../img.mimujiang.com/v1.0/forIe.png) -3px -1px no-repeat;}
.rsNavItem.cur span{background:url(../../img.mimujiang.com/v1.0/forIe.png) -3px -20px no-repeat;}
.topYyBtn{background:url(../../img.mimujiang.com/v1.0/forIe.png) -185px -93px no-repeat;}
.topYyBtn:hover{background:url(../../img.mimujiang.com/v1.0/forIe.png) -185px -130px no-repeat;}
.btn-yuyue{background:url(../../img.mimujiang.com/v1.0/forIe.png) -4px -90px no-repeat; width:173px; height:53px;}
.btn-yuyue:hover{background:url(../../img.mimujiang.com/v1.0/forIe.png) -4px -150px no-repeat;}
.tsIcon{background:url(../../img.mimujiang.com/v1.0/forIe.png) 0 0 no-repeat;}
.tsIcon:hover{background-color:#fff;}
.tsIn01{background-position:-26px -3px;}
.tsIn02{background-position:-98px -1px;}
.tsIn03{background-position:-174px -1px;}

.trgz-item{border:none;background:url(../../img.mimujiang.com/v1.0/forIe.png) -10px -210px no-repeat;}
.trgz-item:hover{background-position:-90px -210px; background-color:#31bca4;}
.icon{border:none; background:url(../../img.mimujiang.com/v1.0/forIe.png) 0 0 no-repeat;}

.yuyue{background-position:-12px -416px;}
.celiang{background-position:-70px -416px;}
.chakan{background-position:-131px -416px;}
.anzhuang{background-position:-188px -416px;}
.shouhou{background-position:-245px -416px;}
.szs01{background:url(../../img.mimujiang.com/v1.0/forIe.png) -219px -199px no-repeat;}
.szs02{background:url(../../img.mimujiang.com/v1.0/forIe.png) -219px -272px no-repeat;}
.sXXbox{margin-top:450px;}
.fiePd{*padding-bottom:450px; *background-color:#fff;}

.btnType1{width:143px; background:url(../../img.mimujiang.com/v1.0/forIe.png) 0 -478px no-repeat; height:45px;}
.btnType1:hover{background:url(../../img.mimujiang.com/v1.0/forIe.png) -144px -478px;}
.btnType2{width:143px; background:url(../../img.mimujiang.com/v1.0/forIe.png) 0 -529px no-repeat; height:45px;}
.btnType2:hover{background:url(../../img.mimujiang.com/v1.0/forIe.png) -143px -529px;}
.fproBtn{background:url(../../img.mimujiang.com/v1.0/forIe.png) 0px -290px no-repeat; width:219px; height:58px; line-height:58px;}
.fproBtn:hover{background:url(../../img.mimujiang.com/v1.0/forIe.png) 0 -350px no-repeat;}
.ptSubmit{ background:url(../../img.mimujiang.com/v1.0/forieck.png) -86px 0px no-repeat;}
.ptSubmit:hover{ background:url(../../img.mimujiang.com/v1.0/forieck.png) -86px -46px;}
.ljyd{ background:url(../../img.mimujiang.com/v1.0/forieck.png) 0 -1px no-repeat;}
.ljyd:hover{background:url(../../img.mimujiang.com/v1.0/forieck.png) 0 -34px no-repeat;}

