

.zfprodcut{width:1100px;margin:0 auto;background:#f00}

.zfprodcut li{width:33%;height:520px;float:left;text-align:center;margin-left:2.5px; }
.zfprodcut li img{width:99%;height:496px;}
.zfprodcut li h5{width:99%;margin:0 auto;text-align:center;}