.sr-tt{text-align:center;padding:20px}.step{position:relative}.stepDg{height:300px}.stepForImg{width:50%}.des{width:50%;padding-top:57px}.des .d-t{color:#222;font-size:22px;line-height:58px;padding-left:72px;letter-spacing:1.5px;font-weight:500;position:relative;font-family:"Fzltjh","Microsoft YaHei"}.icon{display:block;width:57px;height:57px;vertical-align:middle;-moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%;float:left}.des
i{display:block;width:30px;height:30px;background:url(../img/v1.0/mbg1.png) 0 0 no-repeat;margin:12px
0 0 13px}.yuyue{border-color:#6dbcb8}.yuyue
i{background-position:-16px -28px}.celiang{border-color:#7480d1}.celiang
i{background-position:-16px -84px}.chakan{border-color:#8ccaee}.chakan
i{background-position:-17px -134px}.anzhuang{border-color:#60b2cd}.anzhuang
i{background-position:-71px -106px}.shouhou{border-color:#5aa5a0}.shouhou
i{background-position:-140px -108px}.des
p{font-family:"Fzltjh","Microsoft YaHei";line-height:25px;color:#666;font-size:16px;padding-top:20px}.stepForImg{position:relative}.stepDg
img{position:absolute}#step-01
img{left:0;top:33px}#step-02 img,#step-04
img{right:0;top:15px}#step-03
img{left:0;top:37px}#step-05
img{left:0;top:35px}




