  <link rel="shortcut icon" href="/linfei.ico" type="image/x-icon" /> 
  <link rel="stylesheet" href="{{$style}}/css/common.css" /> 
  <link rel="stylesheet" type="text/css" href="{{$style}}/nav/nav.css">
  <link rel="stylesheet" href="{{$style}}/css/fadeIn.css" /> 
  <link rel="stylesheet" href="{{$style}}/css/index.css" /> 
  <link rel="stylesheet" href="{{$style}}/css/slick.css" /> 
  <link rel="stylesheet" href="{{$style}}/css/css-20141102.css" /> 
  <link rel="stylesheet" href="{{$style}}/css/service.css" /> 
  <link rel="stylesheet" href="{{$style}}/css/main-add.css" /> 
  <link rel="stylesheet" href="{{$style}}/css/search.css" /> 
  <link rel="stylesheet" href="{{$style}}/css/newscenter.css" /> 
  <link rel="stylesheet" href="{{$style}}/css/newproduct.css" /> 
  <!--[if lt IE 9]>
    <link rel="stylesheet" type="text/css" href="http://www.gzlingmu.com/statics/css/lingmu/css/ie/ie.css">
    <![endif]--> 
  <script type="text/javascript">
        var tagArray = ["header","nav","article","footer"];for(var i = 0; i < tagArray.length; i++){document.createElement(tagArray[i]);}
    </script> 
  <link rel="stylesheet" type="text/css" id="TQCSS0.8638596886303276" href="{{$style}}/css/style.css" />
  <script id="TQJS0.2792270297650248" src="{{$style}}/js/getonline.js"></script>
  <script id="TQJS0.5847389281261712" src="{{$style}}/js/float.js"></script>
  <script type="text/javascript" charset="UTF-8" src="{{$style}}/js/bsl.js"></script>
  <!-- <script type="text/javascript" charset="UTF-8" src="{{$style}}/js/main_icon_invite_mess_api.js"></script> -->
  <link type="text/css" rel="stylesheet" href="{{$style}}/css/m-webim-lite.css" />
 </head> 
 <body>

<include file="./nav" />