<!DOCTYPE html>
<html lang="zh">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>{{$coverlist['title']}}</title> 
  <meta name="keywords" content="{{$coverlist['keywords']}}" /> 
  <meta name="description" content="{{$coverlist['description']}}" />
<include file="./header" />

<div style="width:100%;clear:both;height:110px;"></div>

<div class="splitX"></div>
</div>
    
<!--顶area end-->
<div class="topbg">
<adv name="加盟页广告" id="305" type="1" item="v">
<img src="{{$v['img']}}" class="setpbg" />
</adv>
</div>
<div class="areaT2">
    <div class="wrap sr-tt">	
		
		 <img src="{{$style}}/images/oyobg.png" alt="只需1步 就能打造一个完美的办公环境">
			    </div>
</div>
<div class="areaT1">
    <div class="wrap step">
<div class="stepDg" id="step-01">
<div class="des fr">
<div class="icon yuyue" style="background-image:url(img/c01.jpg);background-repeat:no-repeat;"><img src="{{$style}}/images/20150703021920538.jpg"></div>
<h2 class="d-t">网站在线预约</h2>
<p>您只需要在网站上点击网上预约按钮，留下您的电话和姓名即可，我们的客服人员将很快和您取得联系，约定上门服务的时间和地点。24小时服务热线：18124283273期待您的来电。</p>
</div>
</div>
<div class="stepDg" id="step-02">
<div class="stepForImg fr"><img alt="" src="{{$style}}/images/20150627040408146.png" style="width: 370px; height: 279px;"></div>
<div class="des fl">
<div class="icon celiang" style="background-image:url(img/c02.jpg); background-repeat:no-repeat;">&nbsp;</div>
<h2 class="d-t">免费上门设计测量</h2>
<p>我们将提供免费的上门服务，为您的办公室测量各种数据，以便为您提供最适合的办公家具用品。</p>
</div>
</div>
<div class="stepDg" id="step-03">
<div class="stepForImg fl"><img alt="" src="{{$style}}/images/20150627040421452.png" style="width: 368px; height: 248px;"></div>
<div class="des fr">
<div class="icon chakan" style="background-image:url(img/c03.jpg); bbackground-repeat:no-repeat; ">&nbsp;</div>
<h2 class="d-t">即时查看效果</h2>
<p>在取得测量数据之后，我们的上门人员会用携带的ipad中的领木pad软件为您全方位的展示我们的产品，为您推荐高性价比和不同风格的办公家具产品。</p>
</div>
</div>
<div class="stepDg" id="step-04">
<div class="stepForImg fr"><img alt="" src="{{$style}}/images/20150627040505930.png" style="width: 439px; height: 266px;"></div>
<div class="des fl">
<div class="icon anzhuang" style="background-image:url(img/c04.jpg);background-repeat:no-repeat;">&nbsp;</div>
<h2 class="d-t">免费上门安装</h2>
<p>我们将提供免费的上门服务，时间由您来决定，同时承诺上门安装全部免费，没有任何的添加的收费项目。</p>
</div>
</div>
<div class="stepDg" id="step-05">
<div class="stepForImg fl"><img alt="" src="{{$style}}/images/20150627040455943.png" style="width: 319px; height: 233px;"></div>
<div class="des fr">
<div class="icon shouhou" style="background-image:url(img/c05.jpg); background-repeat:no-repeat;">&nbsp;</div>
<h2 class="d-t">售后服务</h2>
<p>领木承诺所有领木提供的用品实行一年质保，包括更换零件、免费上门，并且提供5年保修。<br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>
</div>
</div>
</div>
<div style="text-align: center;">&nbsp;</div>
	
	
</div>

<include file="./footer" />