<div class="sidebar" id="sidebar">
	<script type="text/javascript">
		try {
		            ace.settings.check('sidebar', 'fixed')
		        } catch (e) {
		        }
	</script>

	<ul class="nav nav-list">

		<li>
			<a href="#" class="dropdown-toggle">
				<i class="icon-desktop"></i>
				<span class="menu-text"> 商品管理 </span>

				<b class="arrow icon-angle-down"></b>
			</a>

			<ul class="submenu">
				<li>
					<a href="{:U('admin/goodslist')}">
						<i class="icon-double-angle-right"></i> 商品列表
					</a>
				</li>

				<li>
					<a href="{:U('admin/addgoods')}">
						<i class="icon-double-angle-right"></i> 添加商品
					</a>
				</li>
				
				<li>
					<a href="{:U('admin/commentlist')}">
						<i class="icon-double-angle-right"></i> 商品评论
					</a>
				</li>
			</ul>
		</li>

		<li class="">
			<a href="#" class="dropdown-toggle">
				<i class="icon-group"></i>
				<span class="menu-text"> 用户管理 </span>

				<b class="arrow icon-angle-down"></b>
			</a>

			<ul class="submenu">
				<li class="">
					<a href="{:U('admin/userlist')}">
						<i class="icon-double-angle-right"></i> 用户列表
					</a>
				</li>

				<li>
					<a href="{:U('admin/adduser')}">
						<i class="icon-double-angle-right"></i> 添加用户
					</a>
				</li>
			</ul>
		</li>

		<li class="">
			<a href="#" class="dropdown-toggle">
				<i class="icon-cogs"></i>
				<span class="menu-text"> 系统设置 </span>
				<b class="arrow icon-angle-down"></b>
			</a>
			<ul class="submenu">
				<li class="">
					<a href="{:U('admin/settingperson')}">
						<i class="icon-double-angle-right"></i> 个人信息
					</a>
				</li>

				<li>
					<a href="{:U('admin/settingsite')}">
						<i class="icon-double-angle-right"></i> 网站信息
					</a>
				</li>

				<li>
					<a href="{:U('admin/settingseo')}">
						<i class="icon-double-angle-right"></i> SEO设置
					</a>
				</li>

				<li>
					<a href="{:U('admin/settingurl')}">
						<i class="icon-double-angle-right"></i> URL模式
					</a>
				</li>

				<li>
					<a href="{:U('admin/settingscore')}">
						<i class="icon-double-angle-right"></i> 积分设置
					</a>
				</li>

				<li>
					<a href="{:U('admin/settingqq')}">
						<i class="icon-double-angle-right"></i> QQ登录设置
					</a>
				</li>

				<li>
					<a href="{:U('admin/settingmail')}">
						<i class="icon-double-angle-right"></i> 邮箱设置
					</a>
				</li>
				
				<li>
					<a href="{:U('admin/settingucenter')}">
						<i class="icon-double-angle-right"></i> UCENTER设置
					</a>
				</li>
				
				<li>
					<a href="{:U('admin/settingregfield')}">
						<i class="icon-double-angle-right"></i> 注册字段设置
					</a>
				</li>

				<li>
					<a href="{:U('admin/clearcache')}">
						<i class="icon-double-angle-right"></i> 清除缓存
					</a>
				</li>
				
				<li>
					<a href="{:U('admin/sitemap')}">
						<i class="icon-double-angle-right"></i> 更新sitemap
					</a>
				</li>
			</ul>
		</li>

		<li class="">
			<a href="#" class="dropdown-toggle">
				<i class="icon-tags"></i>
				<span class="menu-text"> 分类管理 </span>
				<b class="arrow icon-angle-down"></b>
			</a>
			<ul class="submenu">
				<li class="">
					<a href="{:U('admin/sortlist')}">
						<i class="icon-double-angle-right"></i> 分类列表
					</a>
				</li>

				<li>
					<a href="{:U('admin/addsort')}">
						<i class="icon-double-angle-right"></i> 添加分类
					</a>
				</li>
			</ul>
		</li>

		<li class="">
			<a href="#" class="dropdown-toggle">
				<i class="icon-book"></i>
				<span class="menu-text"> 内容管理 </span>
				<b class="arrow icon-angle-down"></b>
			</a>
			<ul class="submenu">
				<li class="">
					<a href="{:U('admin/articlelist')}">
						<i class="icon-double-angle-right"></i> 文章列表
					</a>
				</li>

				<li>
					<a href="{:U('admin/addarticle')}">
						<i class="icon-double-angle-right"></i> 添加文章
					</a>
				</li>

			</ul>
		</li>

		<li class="">
			<a href="#" class="dropdown-toggle">
				<i class="icon-cloud-download"></i>
				<span class="menu-text"> 采集管理 </span>
				<b class="arrow icon-angle-down"></b>
			</a>
			<ul class="submenu">
				<li class="">
					<a href="{:U('admin/caijigoods')}">
						<i class="icon-double-angle-right"></i> 商品采集
					</a>
				</li>

				<li class="">
					<a href="{:U('admin/jiukuaijiu')}">
						<i class="icon-double-angle-right"></i> 九块九采集
					</a>
				</li>
				
			</ul>
		</li>

		<li class="">
			<a href="#" class="dropdown-toggle">
				<i class="icon-bullhorn"></i>
				<span class="menu-text"> 广告管理 </span>
				<b class="arrow icon-angle-down"></b>
			</a>
			<ul class="submenu">
				<li class="">
					<a href="{:U('admin/addad')}">
						<i class="icon-double-angle-right"></i> 添加广告
					</a>
				</li>

				<li>
					<a href="{:U('admin/adlist')}">
						<i class="icon-double-angle-right"></i> 广告列表
					</a>
				</li>
			</ul>
		</li>
		<li class="">
			<a href="#" class="dropdown-toggle">
				<i class="icon-coffee"></i>
				<span class="menu-text"> 积分商城 </span>

				<b class="arrow icon-angle-down"></b>
			</a>

			<ul class="submenu">
				<li class="">
					<a href="{:U('admin/jfgoodslist')}">
						<i class="icon-double-angle-right"></i> 商品列表
					</a>
				</li>

				<li>
					<a href="{:U('admin/addjfgoods')}">
						<i class="icon-double-angle-right"></i> 添加商品
					</a>
				</li>

				<li>
					<a href="{:U('admin/jfloglist')}">
						<i class="icon-double-angle-right"></i> 兑换信息
					</a>
				</li>
			</ul>
		</li>
		<li class="">
			<a href="#" class="dropdown-toggle">
				<i class="icon-laptop"></i>
				<span class="menu-text"> 商家报名 </span>

				<b class="arrow icon-angle-down"></b>
			</a>

			<ul class="submenu">
				<li class="">
					<a href="{:U('admin/topicgoodslist')}">
						<i class="icon-double-angle-right"></i> 审核列表
					</a>
				</li>
			</ul>
		</li>

		<li class="">
			<a href="#" class="dropdown-toggle">
				<i class="icon-tasks"></i>
				<span class="menu-text"> 活动专场 </span>

				<b class="arrow icon-angle-down"></b>
			</a>

			<ul class="submenu">
				<li class="">
					<a href="{:U('admin/topiclist')}">
						<i class="icon-double-angle-right"></i> 专场列表
					</a>
				</li>

				<li>
					<a href="{:U('admin/addtopic')}">
						<i class="icon-double-angle-right"></i> 添加专场
					</a>
				</li>
			</ul>
		</li>
        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="icon-tasks"></i>
                <span class="menu-text"> 抽奖管理 </span>

                <b class="arrow icon-angle-down"></b>
            </a>

            <ul class="submenu">
                <li class="">
                    <a href="{:U('admin/choujiang')}">
                        <i class="icon-double-angle-right"></i>
                        抽奖列表
                    </a>
                </li>
                <li>
                    <a href="{:U('admin/addchoujiang')}">
                        <i class="icon-double-angle-right"></i>
                        添加抽奖活动
                    </a>
                </li>
                
                <li>
                    <a href="{:U('admin/cjgoods')}">
                        <i class="icon-double-angle-right"></i>
                        奖品列表
                    </a>
                </li>
                
                <li>
                    <a href="{:U('admin/addjfgoods',array('p'=>'cj'))}">
                        <i class="icon-double-angle-right"></i>
                        奖品添加
                    </a>
                </li>
                
            </ul>
        </li>
	</ul>
	<script type="text/javascript">
		<php>if($my['uid']>1){</php>
		        $('.submenu li').hide();
		        <php>}</php>
		        <php>
		        $myqx = unserialize($my['qx']);
		        foreach($myqx as $val){
		        </php>
		            $('a[href^="'+'{:U("$mod/$val")}'+'"]').parent().show();
		            $('a[href^="'+'{:U("crawl/$val")}'+'"]').parent().show();
		        <php>}</php>
		        var obj = $('a[href^="'+'{:U("$mod/$act")}'+'"]');
		        var o1 = obj.parent();
		        var o2 = obj.parent().parent().parent();
		        o2.addClass('active').addClass('open');
		        o1.addClass('active');
		        
		        var m1 = o2.find('.menu-text').html();
		        var m2 = o1.find('a').html();
	</script>
	<div class="sidebar-collapse" id="sidebar-collapse">
		<i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
	</div>
</div>