<div class="sidebar" id="sidebar">
	<script type="text/javascript">
		try {
		            ace.settings.check('sidebar', 'fixed')
		        } catch (e) {
		        }
	</script>

	<ul class="nav nav-list">
<foreach name="adminmenu" item="v">
		<li>
			<a href="#" class="dropdown-toggle">
				<i class="{{$v.icon}}"></i>
				<span class="menu-text"> {{$v.name}} </span>

				<b class="arrow icon-angle-down"></b>
			</a>

			<ul class="submenu">
		<foreach name="v['child']" item="vo">
				<li>
					<a href='{{:U("$vo[c]/$vo[f]")}}' >
						<i class="icon-double-angle-right"></i> {{$vo.name}}
					</a>
				</li>
		</foreach>
			</ul>
		</li>
</foreach>
	</ul>
	<script type="text/javascript">
		
					
				$('a[href^="'+'{{$url}}'+'"]').parent().show();
		        var obj = $('a[href^="'+'{{$url}}'+'"]');
		        var o1 = obj.parent();
		        var o2 = obj.parent().parent().parent();
		        o2.addClass('active').addClass('open');
		        o1.addClass('active');
		        
		        var m1 = o2.find('.menu-text').html();
		        var m2 = o1.find('a').html();
	</script>
	<div class="sidebar-collapse" id="sidebar-collapse">
		<i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
	</div>
</div>