<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{$article['title']}}</title>
	<meta charset="utf-8">
	<meta content="{{$article['keywords']}}" name="keywords">
	<meta content="{{$article['description']}}" name="description">
	<link rel="stylesheet" type="text/css" href="{{$style}}/css/index.css">
	<link rel="stylesheet" type="text/css" href="{{$style}}/css/news.css">
<include file="./header" />

	<!-- 主体区域 -->


	<!-- 轮播图结束 -->
		<!-- 正文开始 -->
			<div class="newsMain">
				<div class="newstatle">
					<p>您当前位置：<span class="index"><a href="#">古建筑设计首页</a>&gt;</span><span class="indexs"><a href="#">工程项目</a>&gt;</span></p>
				</div>
				
				<div class="newsM">
					<h2>{{$article['title']}}</h2>
					<h4>洪雅轩国际艺术设计事务所 时间：<span class="time">2016-12-01</span></h4>
				</div>
				
				<div class="content">
					<div class="conternMain">
						{{$article['text']|htmlspecialchars_decode}}

						<div class="contentFoot">
							<ul><li><a href="#">施工现场</a></li>
								<li><a href="#">寺院装修</a></li>
								<li><a href="#">普寿寺</a></li>
								<li><a href="#">五台山</a></li>
								<div class="cl"></div>
							</ul>

						</div>

					</div>
				</div>

				<div class="newsFooter">				
					<div class="newsFL">
						<p>上一篇：<a href="#">河北省泊头市泊莲禅寺寺院装修施工现场</a></p>
						<p>下一篇：<a href="#">五台山黛螺顶寺院装修施工现场局部拍摄</a></p>
					</div>
					<div class="newsFR">
						<a href="#" class="weix"></a>
						<a href="#" class="weibo"></a>
						<a href="#" class="douban"></a>
						<a href="#" class="xinglang"></a>
						<a href="#" class="wangyi"></a>
						<a href="#" class="biling"></a>
						<a href="#" class="renren"></a>
						<a href="#" class="koukou"></a>
					</div>
				<div class="cl"></div>
				</div>

				<div class="newsFoot">
					<div class="newsL">
						<img src="{{$style}}/image/canvas.gif">
						<span class="dianhuas"><a href="#">400-030-8710</a></span>
						<span class="dianhuas"><a href="#">010-84308710</a></span>
					</div>
					<div class="newsR">
						<span class="dianhuas" style="background:#A53B4F;"><a href="#">我要装修预约</a></span>
						<span class="dianhuas"><a href="#">收费标准</a></span>
						<span class="dianhuas"><a href="#">服务流程</a></span>
					</div>

				</div>

			</div>

	<!-- 第七屏结束 -->
	<div class="s8">
		<div class="s8Main">
			<div class="s8L">
				<h3>联系客服，提出您的装修需求</h3>
				<h3>即可获得最贴心的一站式服务</h3>
			</div>
			<div class="s8R">
				<span><a href="#">在线咨询</a></span>
				<span><a href="#">预约设计</a></span>
			</div>
			<div class="cl"></div>
		</div>

	</div>

		<div class="cl"></div>
	</main>
		<div class="cl"></div>
<!-- 底部 -->
	<footer class="footer">

		<div class="footMain" onselectstart="return false">
			<div class="foot1">
				<dl>
					<dt>关于我们</dt>
					<dd><a href="#">公司简介</a></dd>
					<dd><a href="#">联系我们</a></dd>
					<dd><a href="#">收费标准</a></dd>
					<dd><a href="#">人才招聘</a></dd>
					<dd><a href="#">服务流程</a></dd>
					<dd><a href="#">网站地图</a></dd>
					</dl>
				<dl>
					<dt>项目分类</dt>
					<dd><a href="#">四合院</a></dd>
					<dd><a href="#">寺庙寺院</a></dd>
					<dd><a href="#">古建园林</a></dd>
					<dd><a href="#">美容院</a></dd>
					<dd><a href="#">办公室</a></dd>
					<dd><a href="#">洗浴桑拿</a></dd>
					</dl>
				<dl style="margin-top: 20px;">
					<dd><a href="#">茶楼茶馆</a></dd>
					<dd><a href="#">会所装修</a></dd>
					</dl>
			</div>
			
			<div class="foot2">
				<p>电话：400-030-8710　010-84308710</p>
				<p>邮箱：service@hongyaxuan.com</p>
				<p>地址：北京市朝阳区环铁艺术城C-007</p>
			</div>

			<div class="foot3">
				<dl>
					<dt>关注洪雅轩</dt>
					<dd><a href="#" class="jguanzhu1"></a></dd>
					<dd><a href="#" class="jshouting"></a></dd>
					<dd><a href="#" class="jguangzhu2"></a></dd>
					</dl>
			</div>
		<div class="cl"></div>
		</div>
		<div class="footerT">
			<div class="footerTL">
				<p>Copyright 2009-2016 hongyaxuan.net All rights reserved.</p>
				<p>洪雅轩（北京）国际艺术设计事务所版权所有</p>
				<p>京ICP备14034020号</p>
			</div>
			<div class="footerTR"></div>
			<div class="cl"></div>
		</div>
	</footer>
</body>
</html>