<link rel="stylesheet" href="{{$style}}/Css/public.css">
<link rel="stylesheet" href="{{$style}}/Css/result.css">
<script type="text/javascript" src="{{$style}}/js/scroll_image.js"></script>
<script type="text/javascript" src="{{$style}}/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="{{$style}}/js/jquery.banner.revolution.min.js"></script>
<script type="text/javascript" src="{{$style}}/js/banner.js"></script>
<link rel="stylesheet" type="text/css" href="{{$style}}/css/lbt.css">
</head>
<body>
<a name="returnTop"></a>
<div id="header" class="header">
  <div class="head_top">
    <div class="body_item"> <span class="fl">{{$custom['tel']}}</span> </div>
  </div>
  <div class="header-cr">
    <div class="header_l" id="header_l" onClick="return showhidediv('nav')">
      <div class="logo" style="background-image:url({{$config['logo']}});"></div>
      <div class="company">
        <dd>{{$config['name']}}</dd>
      </div>
      <div class="en">{{$config['company']}}</div>
    </div>
    <div class="nav" onclick="showhidediv('nav');"   id="nav">
      <ul>
      <!-- 栏目分类 -->
        <li><a href="{{:U('Home/index')}}" title="{{$config['name']}}">{{$config['home']}}</a></li>
       <foreach name="classtop" item="v">
        <li><a href="{{:U($v['url_name'])}}" target="_blank" rel="nofollow" title="{{$v['name']}}">{{$v['name']}}</a></li>
        </foreach>
      </ul>
    </div>
  </div>
</div>

<div class="clear"></div>
<!--轮播图 -->
<div class="headB" style="width:100%;height:30px;background:url({{$style}}/images/bk.png)repeat-x;""></div>